/* your code here */
.content{
	background-color:black;
	height:350px;
}
.top{
	color:white;
	padding:25px;
	font-size:30px;
	display:flex;
	justify-content:space-between;
}
.media-icons{
	display:flex;
	justify-content:right;
	gap:15px;
	padding-inline:10px;
	
}