/* your code here */
.content{
	background-color:black;
	height:350px;
	color:white;
}
.link-boxes{
	display:flex;
	justify-items:center;
}
.links{
	display:flex;
	flex-direction:column;
}
li{
	 list-style-type: none;
	color:lightgrey;
	padding:5px;
}
.top{
	color:white;
	padding:25px;
	font-size:30px;
	display:flex;
	justify-content:space-between;
}
.media-icons{
	display:flex;
	justify-content:right;
	gap:15px;
	padding-inline:10px;
}
#bottom{
	background-color:#36454F;
	margin-bottom:0px;
	height:50px;
	color:lightgrey;
	display:flex;
	gap:20px
}
p{
	margin-left:30px;
}